@{
ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-expand-sm bg-primary">
    <a class="btn btn-info" href="/Ideas">Ideas home</a>
    <a href="/Logout" id="logout" class="btn btn-danger">Logout</a>
</nav>
<h1 style="text-align: center; margin-bottom: 20px;">Name: @ViewBag.User.Name</h1>
<h1 style="text-align: center; margin-bottom: 20px;">Alias: @ViewBag.User.Alias</h1>
<h1 style="text-align: center; margin-bottom: 20px;">Email: @ViewBag.User.Email</h1>
<h2 style="text-align: center; margin-bottom: 20px;">Total # of posts: @ViewBag.IdeaCount</h2>
<h2 style="text-align: center; margin-bottom: 20px;">Total # of likes: @ViewBag.LikeCount</h2>